In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
discount = pd.read_excel('discount.xlsx')

In [3]:
# посмотрим на набор данных
discount.sample(10)

,cid,lid,value,term,before_dicount,after_discount,pc_discount,loyalty_level,ll_discount
29654,3717662,1491645,2000,40,1.00,0.9800,NaN,0.0,0.02
25699,4049272,1475896,2300,40,1.00,0.9800,NaN,0.0,0.02
12129,4257036,1482448,18000,56,0.99,0.8415,0.15,NaN,NaN
11656,3424533,1479495,4600,17,1.00,0.9200,NaN,4.0,0.08
16620,4565199,1487956,12000,12,1.00,0.9000,0.10,NaN,NaN
9816,4104676,1485172,6000,18,1.00,0.9800,NaN,0.0,0.02
221,4343544,1452289,14900,38,1.00,0.9800,NaN,0.0,0.02
14622,2022888,1503098,11700,37,1.00,0.8800,NaN,6.0,0.12
15108,2550918,1511771,3000,11,1.00,0.9000,NaN,5.0,0.10
10762,3008326,1482884,5175,22,1.00,0.8500,0.15,NaN,NaN

- cid - id клиента
- lid - id займа
- value - сумма займа
- term - запрошенный срок займа
- before_dicount - ставка до скидки
- after_discount - ставка после скидки
- pc_discount - скидка по промокоду
- loyalty_level - уровень программы лояльности
- ll_discount - скидка по программе лояльности

In [4]:
discount.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cid             30000 non-null  int64
 1   lid             30000 non-null  int64
 2   value           30000 non-null  int64
 3   term            30000 non-null  int64
 4   before_dicount  30000 non-null  float64
 5   after_discount  30000 non-null  float64
 6   pc_discount     9156 non-null   float64
 7   loyalty_level   18736 non-null  float64
 8   ll_discount     18736 non-null  float64
dtypes: float64(5), int64(4)
memory usage: 2.1 MB

In [5]:
discount['loyalty_level'].value_counts()

0.0     8733
3.0     3687
4.0     2086
2.0     1201
5.0     1158
6.0      719
7.0      439
10.0     292
8.0      266
9.0      155
Name: loyalty_level, dtype: int64

In [6]:
discount['ll_discount'].fillna(0.0, inplace=True)
discount['d_rate'] = discount['before_dicount'] - discount['ll_discount']

discount.sample(10)

,cid,lid,value,term,before_dicount,after_discount,pc_discount,loyalty_level,ll_discount,d_rate
9560,4403588,1474320,10000,42,0.99,0.8415,0.15,NaN,0.00,0.99
13338,4242463,1470855,19500,29,1.00,0.9800,NaN,0.0,0.02,0.98
28322,1786486,1509090,10350,20,1.00,0.9400,NaN,3.0,0.06,0.94
19874,4474342,1507261,5175,30,1.00,0.9400,NaN,3.0,0.06,0.94
6754,4271424,1471778,18000,56,0.99,0.8415,0.15,NaN,0.00,0.99
9971,4005725,1492165,8000,56,0.99,0.8415,0.15,NaN,0.00,0.99
13695,4471535,1469526,4025,10,1.00,0.9000,NaN,5.0,0.10,0.90
18338,2661839,1501139,8050,30,1.00,0.9800,NaN,0.0,0.02,0.98
4308,3683875,1462810,7500,10,1.00,0.9800,NaN,0.0,0.02,0.98
11692,4534586,1480896,5000,40,1.00,0.9400,NaN,3.0,0.06,0.94

In [7]:
discount['value_wo_discount'] = ((1 + (discount['term'] * discount['before_dicount']) / 100) * discount['value']).astype('int')

discount.sample(10)

,cid,lid,value,term,before_dicount,after_discount,pc_discount,loyalty_level,ll_discount,d_rate,value_wo_discount
7990,2988212,1460056,20000,42,0.99,0.8415,0.15,NaN,0.00,0.99,28316
24395,4466814,1509074,20000,10,1.00,0.9400,NaN,3.0,0.06,0.94,22000
22551,3161050,1505260,3450,40,1.00,0.9200,NaN,4.0,0.08,0.92,4830
7183,4673275,1483777,9500,20,1.00,0.9800,NaN,0.0,0.02,0.98,11400
3377,3766672,1462348,10000,10,1.00,0.9800,NaN,0.0,0.02,0.98,11000
17710,4390185,1506580,13915,26,1.00,1.0000,NaN,NaN,0.00,1.00,17532
6920,4633911,1464682,5500,18,1.00,0.9800,NaN,0.0,0.02,0.98,6490
29897,4494500,1511701,6000,17,1.00,0.9200,NaN,4.0,0.08,0.92,7020
4402,4636030,1471044,1700,10,1.00,0.9800,NaN,0.0,0.02,0.98,1870
3112,1148913,1459476,3000,26,1.00,0.8400,NaN,8.0,0.16,0.84,3780

In [8]:
discount['value_w_discount'] = ((1 + (discount['term'] * discount['d_rate']) / 100) * discount['value']).astype('int')

discount.sample(10)

,cid,lid,value,term,before_dicount,after_discount,pc_discount,loyalty_level,ll_discount,d_rate,value_wo_discount,value_w_discount
22973,3706048,1511111,22000,42,0.99,0.8415,0.15,NaN,0.00,0.99,31147,31147
1660,3504778,1454068,5000,35,1.00,0.9400,NaN,3.0,0.06,0.94,6750,6645
21141,4613990,1472619,12650,42,0.99,0.8415,0.15,NaN,0.00,0.99,17909,17909
8024,4272701,1483038,10000,23,1.00,0.9200,NaN,4.0,0.08,0.92,12300,12116
4644,3448085,1477432,10000,42,0.99,0.8415,0.15,NaN,0.00,0.99,14158,14158
24841,4552309,1505909,4000,30,1.00,1.0000,NaN,NaN,0.00,1.00,5200,5200
4779,4659413,1465366,4900,26,1.00,0.9800,NaN,0.0,0.02,0.98,6174,6148
24831,4496019,1503152,4500,12,1.00,0.9800,NaN,0.0,0.02,0.98,5040,5029
12186,4650745,1474160,13000,30,1.00,0.9600,NaN,2.0,0.04,0.96,16900,16744
20692,4573699,1485324,5800,15,1.00,0.9200,NaN,4.0,0.08,0.92,6669,6600

In [9]:
(discount['value_wo_discount'].sum() - discount['value_w_discount'].sum()) / discount['value_wo_discount'].sum()

0.003928707245706351

In [10]:
pc_only = discount.query('pc_discount > 0')

pc_only.sample(20)

,cid,lid,value,term,before_dicount,after_discount,pc_discount,loyalty_level,ll_discount,d_rate,value_wo_discount,value_w_discount
18926,4623607,1502210,15000,56,0.99,0.8415,0.15,NaN,0.0,0.99,23316,23316
21367,4567780,1488819,28750,42,0.99,0.8415,0.15,NaN,0.0,0.99,40704,40704
12151,4584175,1488314,5000,20,1.00,0.8500,0.15,NaN,0.0,1.00,6000,6000
28202,4649255,1487454,18000,56,0.99,0.8415,0.15,NaN,0.0,0.99,27979,27979
5229,4567006,1469610,18000,56,0.99,0.8415,0.15,NaN,0.0,0.99,27979,27979
27116,3817837,1496298,5000,14,1.00,0.8500,0.15,NaN,0.0,1.00,5700,5700
18746,4581712,1481083,45000,168,0.99,0.4950,0.50,NaN,0.0,0.99,119843,119843
6889,3226808,1468414,15000,56,0.99,0.8415,0.15,NaN,0.0,0.99,23316,23316
18985,4421244,1482876,8000,42,0.99,0.8415,0.15,NaN,0.0,0.99,11326,11326
4596,4631829,1465413,10000,42,0.99,0.8415,0.15,NaN,0.0,0.99,14158,14158
6651,236310,1472095,38000,168,0.99,0.4950,0.50,NaN,0.0,0.99,101201,101201
8658,4653030,1483362,16330,56,0.99,0.8415,0.15,NaN,0.0,0.99,25383,25383
13933,4495887,1468002,9200,42,0.99,0.8415,0.15,NaN,0.0,0.99,13025,13025
1917,4612715,1453938,11500,42,0.99,0.8415,0.15,NaN,0.0,0.99,16281,16281
23323,4629417,1492577,3000,30,1.00,0.8500,0.15,NaN,0.0,1.00,3900,3900
846,4544559,1464161,15000,42,0.99,0.8415,0.15,NaN,0.0,0.99,21237,21237
9974,3772409,1492701,17100,35,1.00,0.9000,0.10,NaN,0.0,1.00,23085,23085
5437,4470525,1472567,30000,84,0.99,0.7326,0.26,NaN,0.0,0.99,54948,54948
21965,4428600,1505388,15000,56,0.99,0.8415,0.15,NaN,0.0,0.99,23316,23316
28582,4550144,1474398,12000,56,0.99,0.8415,0.15,NaN,0.0,0.99,18652,18652

In [11]:
discount['value_w_discount'] = ((1 + (discount['term'] * (discount['before_dicount'] - discount['pc_discount'])) / 100) * discount['value']).astype('int')

discount.sample(10)

ValueError: Cannot convert non-finite values (NA or inf) to integer