In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
discount = pd.read_excel('discount.xlsx')

In [3]:
# посмотрим на набор данных
discount.sample(10)

,cid,lid,value,term,before_dicount,after_discount,pc_discount,loyalty_level,ll_discount
5464,4497602,1466417,12000,42,0.99,0.8415,0.15,NaN,NaN
12962,4565408,1492109,7000,39,1.00,0.9800,NaN,0.0,0.02
26539,4686725,1510770,30000,168,0.99,0.7326,0.26,NaN,NaN
29535,4581755,1477606,4600,30,1.00,0.9800,NaN,0.0,0.02
19936,4464886,1507814,15000,42,0.99,0.8415,0.15,NaN,NaN
9286,4205477,1487175,20700,56,0.99,0.8415,0.15,NaN,NaN
5397,4515952,1461783,2100,11,1.00,1.0000,NaN,NaN,NaN
4534,4395801,1454867,30000,168,0.99,0.7326,0.26,NaN,NaN
1233,637454,1454986,1700,10,1.00,0.8400,NaN,8.0,0.16
10191,4566182,1472302,4600,30,1.00,1.0000,NaN,NaN,NaN

- cid - id клиента
- lid - id займа
- value - сумма займа
- term - запрошенный срок займа
- before_dicount - ставка до скидки
- after_discount - ставка после скидки
- pc_discount - скидка по промокоду
- loyalty_level - уровень программы лояльности
- ll_discount - скидка по программе лояльности

In [4]:
discount.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cid             30000 non-null  int64
 1   lid             30000 non-null  int64
 2   value           30000 non-null  int64
 3   term            30000 non-null  int64
 4   before_dicount  30000 non-null  float64
 5   after_discount  30000 non-null  float64
 6   pc_discount     9156 non-null   float64
 7   loyalty_level   18736 non-null  float64
 8   ll_discount     18736 non-null  float64
dtypes: float64(5), int64(4)
memory usage: 2.1 MB

In [5]:
discount['loyalty_level'].value_counts()

0.0     8733
3.0     3687
4.0     2086
2.0     1201
5.0     1158
6.0      719
7.0      439
10.0     292
8.0      266
9.0      155
Name: loyalty_level, dtype: int64

In [6]:
discount['ll_discount'].fillna(0.0, inplace=True)
discount['d_rate'] = discount['before_dicount'] - discount['ll_discount']

discount.sample(10)

,cid,lid,value,term,before_dicount,after_discount,pc_discount,loyalty_level,ll_discount,d_rate
14173,3281006,1489574,10000,30,1.00,0.9800,NaN,0.0,0.02,0.98
16784,4164094,1479417,7000,17,1.00,0.9800,NaN,0.0,0.02,0.98
10131,2205947,1486275,2100,10,1.00,0.9200,NaN,4.0,0.08,0.92
22324,4493045,1488136,10000,19,1.00,0.9800,NaN,0.0,0.02,0.98
6021,4453403,1455339,4600,17,1.00,0.9800,NaN,0.0,0.02,0.98
28444,4682417,1511618,2000,10,1.00,0.9800,NaN,0.0,0.02,0.98
10074,4538242,1472789,7000,28,1.00,0.9600,NaN,2.0,0.04,0.96
20070,4604556,1505861,13000,30,1.00,0.9400,NaN,3.0,0.06,0.94
22248,4145119,1508112,10350,42,0.99,0.8415,0.15,NaN,0.00,0.99
25781,3141153,1505337,27600,42,0.99,0.8415,0.15,NaN,0.00,0.99

In [7]:
discount['value_wo_discount'] = ((1 + (discount['term'] * discount['before_dicount']) / 100) * discount['value']).astype('int')

discount.sample(10)

,cid,lid,value,term,before_dicount,after_discount,pc_discount,loyalty_level,ll_discount,d_rate,value_wo_discount
14304,4541817,1468895,13000,42,0.99,0.8415,0.15,NaN,0.00,0.99,18405
25969,2052329,1507933,7000,40,1.00,0.8400,NaN,8.0,0.16,0.84,9800
13722,2953528,1474244,12000,13,1.00,1.0000,NaN,NaN,0.00,1.00,13559
4151,4437446,1457939,1900,10,1.00,0.9600,NaN,2.0,0.04,0.96,2090
18192,2698375,1498203,12190,12,1.00,0.9200,NaN,4.0,0.08,0.92,13652
29818,2260708,1509644,2200,40,1.00,0.9000,0.10,NaN,0.00,1.00,3080
15774,4384321,1491679,2500,10,1.00,0.9200,NaN,4.0,0.08,0.92,2750
17197,2084289,1484955,9200,10,1.00,0.9400,NaN,3.0,0.06,0.94,10120
2421,4473512,1453764,1900,12,1.00,0.9400,NaN,3.0,0.06,0.94,2128
14647,4691552,1510055,2000,16,1.00,0.9800,NaN,0.0,0.02,0.98,2320

In [8]:
discount['value_w_discount'] = ((1 + (discount['term'] * discount['d_rate']) / 100) * discount['value']).astype('int')

discount.sample(10)

,cid,lid,value,term,before_dicount,after_discount,pc_discount,loyalty_level,ll_discount,d_rate,value_wo_discount,value_w_discount
24289,4445824,1477121,5750,30,1.00,0.9400,NaN,3.0,0.06,0.94,7475,7371
9388,4578468,1468839,5500,14,1.00,0.9200,NaN,4.0,0.08,0.92,6270,6208
10612,4659704,1483295,28750,70,0.99,0.8316,0.16,NaN,0.00,0.99,48673,48673
5775,4413249,1459379,12000,42,0.99,0.8415,0.15,NaN,0.00,0.99,16989,16989
25670,4678331,1494817,5000,20,1.00,0.9600,NaN,2.0,0.04,0.96,6000,5960
29093,729727,1493382,15000,56,0.99,0.8415,0.15,NaN,0.00,0.99,23316,23316
5127,4201441,1459235,5750,20,1.00,0.9000,0.10,NaN,0.00,1.00,6900,6900
27921,4580598,1504649,4500,30,1.00,0.9200,NaN,4.0,0.08,0.92,5850,5742
13286,2984657,1495950,4500,40,1.00,0.8500,0.15,NaN,0.00,1.00,6300,6300
10450,4615024,1491890,5175,12,1.00,1.0000,NaN,NaN,0.00,1.00,5796,5796

In [9]:
(discount['value_wo_discount'].sum() - discount['value_w_discount'].sum()) / discount['value_wo_discount'].sum()

0.003928707245706351

In [10]:
pc_only = discount.query('pc_discount > 0')

pc_only.sample(20)

,cid,lid,value,term,before_dicount,after_discount,pc_discount,loyalty_level,ll_discount,d_rate,value_wo_discount,value_w_discount
27147,4493487,1493055,11500,42,0.99,0.8415,0.15,NaN,0.0,0.99,16281,16281
17007,4502688,1470064,11500,56,0.99,0.8415,0.15,NaN,0.0,0.99,17875,17875
11341,4536512,1478359,18000,42,0.99,0.8415,0.15,NaN,0.0,0.99,25484,25484
9510,4511316,1465134,9200,42,0.99,0.8415,0.15,NaN,0.0,0.99,13025,13025
25503,3957215,1506124,35000,168,0.99,0.4950,0.50,NaN,0.0,0.99,93211,93211
25556,2049042,1507544,40000,168,0.99,0.4950,0.50,NaN,0.0,0.99,106527,106527
9328,4668981,1473675,35000,168,0.99,0.4950,0.50,NaN,0.0,0.99,93211,93211
20068,4538451,1475045,20700,56,0.99,0.8415,0.15,NaN,0.0,0.99,32176,32176
1788,2844094,1458276,34500,168,0.99,0.7326,0.26,NaN,0.0,0.99,91880,91880
7162,4246151,1457330,12000,42,0.99,0.8415,0.15,NaN,0.0,0.99,16989,16989
27596,1234165,1507543,30000,168,0.99,0.7326,0.26,NaN,0.0,0.99,79896,79896
21974,4708374,1509423,20700,56,0.99,0.8415,0.15,NaN,0.0,0.99,32176,32176
27617,2499949,1488973,23000,42,0.99,0.8415,0.15,NaN,0.0,0.99,32563,32563
21822,4585580,1495715,14500,40,1.00,0.8500,0.15,NaN,0.0,1.00,20300,20300
17975,4212777,1488027,20700,56,0.99,0.8415,0.15,NaN,0.0,0.99,32176,32176
13098,4187472,1481138,20000,42,0.99,0.8415,0.15,NaN,0.0,0.99,28316,28316
1248,4244312,1457526,15000,42,0.99,0.8415,0.15,NaN,0.0,0.99,21237,21237
11527,3914025,1468778,10000,56,0.99,0.8415,0.15,NaN,0.0,0.99,15544,15544
28593,4460294,1464502,20700,56,0.99,0.8415,0.15,NaN,0.0,0.99,32176,32176
19993,4033458,1496082,12000,56,0.99,0.8415,0.15,NaN,0.0,0.99,18652,18652