In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
discount = pd.read_excel('discount.xlsx')

In [3]:
# посмотрим на набор данных
discount.sample(10)

,cid,lid,value,term,before_dicount,after_discount,pc_discount,loyalty_level,ll_discount
19195,2998023,1473229,15000,42,0.99,0.8415,0.15,NaN,NaN
1530,4110008,1455934,7475,40,1.00,0.9400,NaN,3.0,0.06
19630,4512855,1506205,2000,30,1.00,0.9800,NaN,0.0,0.02
23638,3708838,1503760,15000,56,0.99,0.8415,0.15,NaN,NaN
390,3252972,1464911,2000,14,1.00,0.9800,NaN,0.0,0.02
13375,1977880,1474388,10000,56,0.99,0.8415,0.15,NaN,NaN
7606,4546505,1461295,3700,10,1.00,0.9800,NaN,0.0,0.02
17094,4627709,1460600,4800,30,1.00,1.0000,NaN,NaN,NaN
8233,4650904,1475114,3900,10,1.00,1.0000,NaN,NaN,NaN
25404,4627865,1511890,12650,11,1.00,0.9400,NaN,3.0,0.06

- cid - id клиента
- lid - id займа
- value - сумма займа
- term - запрошенный срок займа
- before_dicount - ставка до скидки
- after_discount - ставка после скидки
- pc_discount - скидка по промокоду
- loyalty_level - уровень программы лояльности
- ll_discount - скидка по программе лояльности

In [4]:
discount.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cid             30000 non-null  int64
 1   lid             30000 non-null  int64
 2   value           30000 non-null  int64
 3   term            30000 non-null  int64
 4   before_dicount  30000 non-null  float64
 5   after_discount  30000 non-null  float64
 6   pc_discount     9156 non-null   float64
 7   loyalty_level   18736 non-null  float64
 8   ll_discount     18736 non-null  float64
dtypes: float64(5), int64(4)
memory usage: 2.1 MB

In [5]:
discount['loyalty_level'].value_counts()

0.0     8733
3.0     3687
4.0     2086
2.0     1201
5.0     1158
6.0      719
7.0      439
10.0     292
8.0      266
9.0      155
Name: loyalty_level, dtype: int64

In [6]:
discount['ll_discount'].fillna(0.0, inplace=True)
discount['d_rate'] = discount['before_dicount'] - discount['ll_discount']

discount.sample(10)

,cid,lid,value,term,before_dicount,after_discount,pc_discount,loyalty_level,ll_discount,d_rate
12772,2681472,1498801,25300,42,0.99,0.8415,0.15,NaN,0.00,0.99
7723,2746187,1462914,10000,12,1.00,0.9800,NaN,0.0,0.02,0.98
10243,3976027,1463643,1900,12,1.00,0.9800,NaN,0.0,0.02,0.98
23877,4414290,1494470,3000,10,1.00,0.9400,NaN,3.0,0.06,0.94
7858,3484843,1467075,20000,56,0.99,0.8415,0.15,NaN,0.00,0.99
16251,4655510,1495627,8050,31,1.00,0.8500,0.15,NaN,0.00,1.00
6298,4041411,1465879,10000,56,0.99,0.8415,0.15,NaN,0.00,0.99
24417,2362198,1491393,3000,12,1.00,0.9400,NaN,3.0,0.06,0.94
13321,4684445,1496323,14500,40,1.00,0.8500,0.15,NaN,0.00,1.00
20572,4611537,1480411,5200,30,1.00,0.9800,NaN,0.0,0.02,0.98

In [7]:
discount['value_wo_discount'] = ((1 + (discount['term'] * discount['before_dicount']) / 100) * discount['value']).astype('int')

discount.sample(10)

,cid,lid,value,term,before_dicount,after_discount,pc_discount,loyalty_level,ll_discount,d_rate,value_wo_discount
7881,4573935,1468947,14000,19,1.00,0.9200,NaN,4.0,0.08,0.92,16660
21383,4610416,1490942,11500,56,0.99,0.8415,0.15,NaN,0.00,0.99,17875
24075,4579194,1486490,4000,15,1.00,0.9400,NaN,3.0,0.06,0.94,4600
15386,4687885,1491721,4000,40,1.00,0.9800,NaN,0.0,0.02,0.98,5600
2872,3987033,1458876,3000,29,1.00,0.9800,NaN,0.0,0.02,0.98,3870
13765,4666023,1478445,35000,112,0.99,0.4950,0.50,NaN,0.00,0.99,73808
5107,3836400,1461416,3200,23,1.00,0.9400,NaN,3.0,0.06,0.94,3936
10099,4652681,1463947,4500,12,1.00,0.9800,NaN,0.0,0.02,0.98,5040
26563,4623755,1479480,2300,18,1.00,0.9400,NaN,3.0,0.06,0.94,2714
12030,4461689,1458880,30000,168,0.99,0.7326,0.26,NaN,0.00,0.99,79896

In [8]:
discount['value_w_discount'] = ((1 + (discount['term'] * discount['d_rate']) / 100) * discount['value']).astype('int')

discount.sample(10)

,cid,lid,value,term,before_dicount,after_discount,pc_discount,loyalty_level,ll_discount,d_rate,value_wo_discount,value_w_discount
6536,4199125,1469548,4000,10,1.00,0.9800,NaN,0.0,0.02,0.98,4400,4392
9647,4670872,1465257,15000,56,0.99,0.8415,0.15,NaN,0.00,0.99,23316,23316
15256,2538004,1474353,6000,10,1.00,0.8000,NaN,10.0,0.20,0.80,6600,6480
24739,4672094,1494996,1700,12,1.00,0.9800,NaN,0.0,0.02,0.98,1904,1899
6993,151756,1464384,38000,168,0.99,0.4950,0.50,NaN,0.00,0.99,101201,101201
24660,4137012,1493643,10500,40,1.00,1.0000,NaN,NaN,0.00,1.00,14699,14699
17207,4026278,1486525,15300,10,1.00,0.9200,NaN,4.0,0.08,0.92,16830,16707
26795,3911794,1484502,15100,12,1.00,0.9800,NaN,0.0,0.02,0.98,16912,16875
16345,2512722,1491551,9500,12,1.00,0.9400,NaN,3.0,0.06,0.94,10640,10571
24123,3454843,1509769,2200,12,1.00,0.9800,NaN,0.0,0.02,0.98,2464,2458

In [9]:
(discount['value_wo_discount'].sum() - discount['value_w_discount'].sum()) / discount['value_wo_discount'].sum() * 100

0.3928707245706351

In [13]:
discount.query('ll_discount.notna()')['ll_discount'].mean()

0.033440000000000004

In [17]:
discount.query('ll_discount.notna()')['loyalty_level'].value_counts()

0.0     8733
3.0     3687
4.0     2086
2.0     1201
5.0     1158
6.0      719
7.0      439
10.0     292
8.0      266
9.0      155
Name: loyalty_level, dtype: int64