In [5]:
import pandas as pd
from matplotlib import pyplot as plt

In [6]:
discount = pd.read_excel('discount.xlsx')

In [7]:
# посмотрим на набор данных
discount.sample(10)

,cid,lid,value,term,before_dicount,after_discount,pc_discount,loyalty_level,ll_discount
23126,4478474,1496699,23000,10,1.0,0.94,NaN,3.0,0.06
11461,4495374,1491426,5750,10,1.0,0.94,NaN,3.0,0.06
26112,4079770,1497568,7000,30,1.0,0.98,NaN,0.0,0.02
1765,3865579,1458061,3900,30,1.0,0.98,NaN,0.0,0.02
24744,3673813,1497166,15500,39,1.0,0.88,NaN,6.0,0.12
28847,4692966,1491659,5000,16,1.0,0.98,NaN,0.0,0.02
10287,4505089,1469189,5750,12,1.0,0.98,NaN,0.0,0.02
24296,4677228,1497878,2000,10,1.0,0.98,NaN,0.0,0.02
12323,4000963,1491168,12000,23,1.0,0.85,0.15,NaN,NaN
15103,4552539,1511435,2875,24,1.0,1.00,NaN,NaN,NaN

- cid - id клиента
- lid - id займа
- value - сумма займа
- term - запрошенный срок займа
- before_dicount - ставка до скидки
- after_discount - ставка после скидки
- pc_discount - скидка по промокоду
- loyalty_level - уровень программы лояльности
- ll_discount - скидка по программе лояльности

In [16]:
discount.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cid             30000 non-null  int64
 1   lid             30000 non-null  int64
 2   value           30000 non-null  int64
 3   term            30000 non-null  int64
 4   before_dicount  30000 non-null  float64
 5   after_discount  30000 non-null  float64
 6   pc_discount     9156 non-null   float64
 7   loyalty_level   18736 non-null  float64
 8   ll_discount     18736 non-null  float64
dtypes: float64(5), int64(4)
memory usage: 2.1 MB