In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
discount = pd.read_excel('discount.xlsx')

In [3]:
# посмотрим на набор данных
discount.sample(10)

,cid,lid,value,term,before_dicount,after_discount,pc_discount,loyalty_level,ll_discount
9245,2022888,1473186,6700,26,1.00,0.9400,NaN,3.0,0.06
4273,4443383,1464158,8000,56,0.99,0.8415,0.15,NaN,NaN
26541,2574456,1480605,1700,10,1.00,0.9800,NaN,0.0,0.02
27172,4542797,1506910,25000,42,0.99,0.8415,0.15,NaN,NaN
4576,4608442,1463074,4000,19,1.00,1.0000,NaN,NaN,NaN
705,4615361,1487279,4000,15,1.00,0.9800,NaN,0.0,0.02
27194,526179,1476309,7500,10,1.00,0.8000,NaN,10.0,0.20
13964,4601022,1490453,4500,30,1.00,0.9600,NaN,2.0,0.04
28192,3842501,1512256,2000,10,1.00,0.9400,NaN,3.0,0.06
10856,4335378,1476235,10000,56,0.99,0.8415,0.15,NaN,NaN

- cid - id клиента
- lid - id займа
- value - сумма займа
- term - запрошенный срок займа
- before_dicount - ставка до скидки
- after_discount - ставка после скидки
- pc_discount - скидка по промокоду
- loyalty_level - уровень программы лояльности
- ll_discount - скидка по программе лояльности

In [4]:
discount.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   cid             30000 non-null  int64
 1   lid             30000 non-null  int64
 2   value           30000 non-null  int64
 3   term            30000 non-null  int64
 4   before_dicount  30000 non-null  float64
 5   after_discount  30000 non-null  float64
 6   pc_discount     9156 non-null   float64
 7   loyalty_level   18736 non-null  float64
 8   ll_discount     18736 non-null  float64
dtypes: float64(5), int64(4)
memory usage: 2.1 MB

In [5]:
discount['loyalty_level'].value_counts()

0.0     8733
3.0     3687
4.0     2086
2.0     1201
5.0     1158
6.0      719
7.0      439
10.0     292
8.0      266
9.0      155
Name: loyalty_level, dtype: int64

In [6]:
discount['ll_discount'].fillna(0.0, inplace=True)
discount['d_rate'] = discount['before_dicount'] - discount['ll_discount']

discount.sample(10)

,cid,lid,value,term,before_dicount,after_discount,pc_discount,loyalty_level,ll_discount,d_rate
28895,3780626,1477456,9500,10,1.00,0.9800,NaN,0.0,0.02,0.98
14296,3454817,1467859,5400,40,1.00,0.9800,NaN,0.0,0.02,0.98
5464,4497602,1466417,12000,42,0.99,0.8415,0.15,NaN,0.00,0.99
16020,352447,1501283,3400,30,1.00,0.8800,NaN,6.0,0.12,0.88
24418,4620162,1492848,17710,10,1.00,0.9800,NaN,0.0,0.02,0.98
24014,4511720,1486636,17250,42,0.99,0.8415,0.15,NaN,0.00,0.99
21774,4641477,1492311,10000,56,0.99,0.8415,0.15,NaN,0.00,0.99
21260,4334081,1506059,9000,29,1.00,0.9400,NaN,3.0,0.06,0.94
2294,4225507,1459639,34500,84,0.99,0.7326,0.26,NaN,0.00,0.99
13405,4632077,1482010,3000,30,1.00,0.9800,NaN,0.0,0.02,0.98

In [7]:
discount['value_wo_discount'] = ((1 + (discount['term'] * discount['before_dicount']) / 100) * discount['value']).astype('int')

discount.sample(10)

,cid,lid,value,term,before_dicount,after_discount,pc_discount,loyalty_level,ll_discount,d_rate,value_wo_discount
4388,4541796,1470027,10000,40,1.0,0.98,NaN,0.0,0.02,0.98,14000
6885,4473591,1468178,2000,16,1.0,0.94,NaN,3.0,0.06,0.94,2320
29629,2944409,1493868,5600,32,1.0,0.86,NaN,7.0,0.14,0.86,7392
26099,4625370,1498921,7000,25,1.0,0.98,NaN,0.0,0.02,0.98,8750
7061,4652989,1471758,2000,23,1.0,0.98,NaN,0.0,0.02,0.98,2460
13063,4656570,1493702,20000,10,1.0,0.98,NaN,0.0,0.02,0.98,22000
27709,4450902,1498176,20000,40,1.0,0.92,NaN,4.0,0.08,0.92,28000
1908,4339559,1459368,4500,40,1.0,0.98,NaN,0.0,0.02,0.98,6300
26028,4451657,1511850,13000,21,1.0,0.98,NaN,0.0,0.02,0.98,15730
22930,3436887,1474986,7015,22,1.0,0.98,NaN,0.0,0.02,0.98,8558

In [8]:
discount['value_w_discount'] = ((1 + (discount['term'] * discount['d_rate']) / 100) * discount['value']).astype('int')

discount.sample(10)

,cid,lid,value,term,before_dicount,after_discount,pc_discount,loyalty_level,ll_discount,d_rate,value_wo_discount,value_w_discount
27241,4705766,1505106,2200,12,1.00,0.9800,NaN,0.0,0.02,0.98,2464,2458
14318,4698905,1499020,4600,14,1.00,0.9800,NaN,0.0,0.02,0.98,5244,5231
22778,4689102,1503716,30000,70,0.99,0.7326,0.26,NaN,0.00,0.99,50790,50790
29796,4626974,1497926,30000,168,0.99,0.7326,0.26,NaN,0.00,0.99,79896,79896
25132,4676151,1495534,3500,12,1.00,0.9800,NaN,0.0,0.02,0.98,3920,3911
13399,4492246,1475607,20700,56,0.99,0.8415,0.15,NaN,0.00,0.99,32176,32176
9351,4396451,1471403,8000,56,0.99,0.8415,0.15,NaN,0.00,0.99,12435,12435
14586,4546297,1486786,5175,30,1.00,0.8500,0.15,NaN,0.00,1.00,6727,6727
28540,4501535,1455527,17000,10,1.00,0.9200,NaN,4.0,0.08,0.92,18700,18564
15715,3640896,1491447,19900,21,1.00,0.9400,NaN,3.0,0.06,0.94,24079,23828

In [9]:
(discount['value_wo_discount'].sum() - discount['value_w_discount'].sum()) / discount['value_wo_discount'].sum()

0.003928707245706351

In [10]:
discount.query('ll_discount.notna()')['ll_discount'].mean()

0.033440000000000004

In [11]:
discount.query('ll_discount.notna()')['loyalty_level'].value_counts()

0.0     8733
3.0     3687
4.0     2086
2.0     1201
5.0     1158
6.0      719
7.0      439
10.0     292
8.0      266
9.0      155
Name: loyalty_level, dtype: int64