In [1]:
import pandas as pd

In [2]:
discount = pd.read_excel('discount.xlsx')

In [3]:
discount.head()

,id клиента,id займа,сумма займа,срок займа,ставка в % по договору,ставка в % с учетом скидки,% скидки (если применялся промокод),Уровень ПЛ. DisplayLevel,"Размер скидки по ПЛ, %"
0,3407919,1461721,8700,30,1.00,0.8600,NaN,7.0,0.14
1,1224622,1461738,13900,30,1.00,0.8000,NaN,10.0,0.20
2,4624067,1452680,17250,56,0.99,0.8415,0.15,NaN,NaN
3,4567936,1460449,5000,12,1.00,0.9800,NaN,0.0,0.02
4,4646053,1470745,3200,39,1.00,1.0000,NaN,NaN,NaN